<header>
  <ul class="topnav">
    <!-- <li id="circle"></li> -->
    <li id="moto"></li>
    <!-- <li><a class="active" href="https://www.motorola.com/us/home">Motorola</a></li> -->
    <li><a href="https://www.motorola.com/us/home">Link</a></li>
    <li><a href="#news">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li class="right"><a href="#about">My Account</a></li>
    <li class="right" id="circle_small"></li>
  </ul>
</header>

<div class="row">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. <button class="buttonblue">add HTML</button></p>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div>
<div class="row">
  <p></p>
  <p class="double"></p>
</div>

<div id="button-action">
  <div class="row">
    <div class="block col-md-3" onclick="changeColor(this)"> </div><br>
    <div id="textbox" class="block col-md-3" onclick="addText(this)"> </div><br>
    <div class="block col-md-3" onclick="addClass(this)"> </div>
    <div class="block col-md-3" onclick="readText()"> </div>
  </div>
</div>



