<!DOCTYPE html>
<html>
  <head>
    <title>Motorola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
  <footer>
  <ul class="footer">
    <li><a href="#news">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li><a href="#contact">Link</a></li>
  </ul>
  <div id="info">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Lorem habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </div>
  <div id="copyright">&copy Copyright 2017 Moto Exercise</div>
  </footer>
  </body>
</html>
